<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/CSS/updateStudent.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div class="container">
      <div class="row">
        <div class="col-lg-12 card-margin">
          <div class="card search-form">
            <div class="card-body p-0">
              <form id="search-form" action="/users/attendance" method="POST">
                <div class="row">
                  <div class="col-12">
                    <div class="row no-gutters">
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select
                          class="form-control"
                          id="exampleFormControlSelect1"
                          name="batchId"
                        >
                          <option>batchId</option>
                          <% for(var i=0;i<batch.length;i++){ %>
                        <option><%= batch[i].batchId %></option>
                            <%  }%>

                        </select>
                      </div>


                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select
                          class="form-control"
                          id="exampleFormControlSelect1"
                          name="attendanceMonth"
                        >
                          <option>Month</option>
                          <option>Jan</option>
                          <option>Feb</option>
                          <option>Mar</option>
                          <option>Apr</option>
                          <option>May</option>
                          <option>JUN</option>
                          <option>July</option>
                          <option>Aug</option>
                          <option>Sept</option>
                          <option>Oct</option>
                          <option>Nov</option>
                          <option>Dec</option>
                        </select>
                      </div>
                      
                      
                      

                      
                      
                      <div class="col-lg-1 col-md-3 col-sm-12 p-0 ">
                        <button type="submit" class="btn btn-base">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-search"
                          >
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="main-box clearfix">
            <div class="table-responsive">
              <form action="/users/saveattendance" method="POST">
                
                <table class="table user-list">
                    <thead>
                      <tr>
                        <th><span>Student Name</span></th>
                        <th><span>Department</span></th>
                        <th><span>Batch ID</span></th>
                        <th><span>Month</span></th>
                        <th><span>Year</span></th>
                        <th><span>Attendance %</span></th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      
                        <% for(var i=0; i<user.length; i++) { %>
                      <tr>
                        <td>
                          
                          <h3><%= user[i].name %></h3>
                          <span class="user-subhead"><input type="text" name="attendanceStudentId" value="<%= user[i].ID %>"  style="border: none;" readonly></span>
                        </td>
                        <td><input type="text" name="attendanceDepartment" value="<%= user[i].department %>"  style="border: none;" readonly></td>
                        <td><input type="text" name="attendanceBatchId" value="<%= user[i].batchId %>"  style="border: none;" readonly></td>
                        <td><input type="text" name="attendanceMonth" value="<%= attendanceMonth %>"  style="border: none;" readonly></td>
                        <% var d = new Date(); %>
                        
                        <td><input type="text" name="attendanceYear" value="<%= (attendance == undefined)? d.getFullYear() : attendance.attendanceYear%>"  style="border: none;" ></td>
                        <td class="text-center">
                            
                            <input type="text" name="attendancePercentage" value="<%= (attendance == undefined)?"": attendance.attendancePercentage[attendance.attendanceStudentId.indexOf(user[i].ID)]%>">

                        </td>
                      </tr>
                      <% } %>

                      
                      
                    </tbody>
                  </table>
                  <% if(user.length<1){ %>
                    <span style="font-size: 20px; margin-left:40%">No Data Found.</span><br>
                  <%} else {%>
                  <a type="submit" class="btn btn-success btn-lg " role="button" aria-disabled="true" style="width: 90px; height: auto;"><input type="submit" value="Save"> </a>
                  <%}%>
              </form>
            </div>
            <br><br>
            <a href="/users/welcome" class="btn btn-danger btn-lg " role="button" aria-disabled="true" style="width: 90px; height: auto;">Back</a>
            <% if(user.length>0){ %>
              <ul class="pagination pull-right">
                <li>
                  <a href="#"><i class="fa fa-chevron-left"></i></a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#"><i class="fa fa-chevron-right"></i></a>
                </li>
              </ul>
            <%}%>
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
